.footer {
  background-color: #070606;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  flex-direction: column;
}

.footer .social {
  list-style: none;
  border-bottom: 2px solid #fff;
  padding-left: 0;
}

.footer .social li {
  margin: 30px 10px;
}

.footer .social li img {
  height: 17px;
}

.footer .social li span {
  color: #fff;
  text-transform: uppercase;
  padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .footer .social li span {
    display: none;
  }
}
