<div class="mt-auto footer">
  <div class="social d-flex flex-wrap">
    <li>
      <a href="https://www.facebook.com/moovtoapp" target="_blank">
        <img src="assets/img/facebook-app-symbol.png" alt="" />
      </a>
      <span>{{ "footer" | language }}</span>
    </li>
    <li>
      <a href=" https://www.instagram.com/moovtoapp" target="_blank">
        <img src="assets/img/instagram-logo.png" alt="" />
      </a>
      <span>{{ "insta" | language }}</span>
    </li>
    <li>
      <a href="mailto:sherjeelk@hotmail.com">
        <img src="assets/img/email.png" alt="" />
      </a>
      <span>{{ "email" | language }}</span>
    </li>
  </div>

  <div class="copyright mt-3">
    <p class="text-white">&copy;{{ "copyText" | language }}</p>
  </div>
</div>
